.monJournal {
  background-color: #0090E8;
  height: 800px;
  width: 600px;
  margin: 0 auto;
  margin-top: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top-style: double ;
  border-top-color: white;
}

.jourdetails{
  height: 500px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.enteteJour{
  height: 30%;
  display: flex;
  justify-content: space-around;
}

.titreJour{
  margin-top: 50px;
}

.enteteJour > div {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 20px;
}

.textJour{
  height: 70%;
  color: white;
  padding: 10px;
  margin: 20px;
}

.textJour > p {
  font-size: 20px;
  height: 20%;
  padding: 20px;
  vertical-align: middle;
}

.textJour > p {
  height: 100%;
  background-color: rgb(72, 173, 255);
  padding: 30px;
}

.titreJournal {
  background-color: #0090E8;
  font-size: 50px;
  width: 600px;
  height: 100px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 100px;
  letter-spacing: 2px;
  border-top-left-radius: 80px 80px;
}

.journalItem {
  height: 800px;
  margin-top: 50px;
}

.boutton {
  height: 30px;
  align-self: center;
  padding: 20px;
  margin-bottom: 20px;
}

.jours {
  height: 50px;
  margin: 10px;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: rgb(72, 173, 255);
  border-radius: 10px;
  font-weight: bold;
  display: flex;
}

.journalItem>div :hover {
  background-color: #0376bd;
  cursor: pointer;
}

.journalItem>p {
  width: 400px;
  height: 80px;
  margin: auto;
  font-weight: bolder;
  background-color: #55b8ff;
  text-align: center;
  margin-top: 200px;
  padding-top: 25px;
  color: white;
  letter-spacing: 3px;
  border-radius: 10px;
}

.mood {
  height: 100%;
  width: auto;
}

.index {
  width: 5%;
}

select {
  width: 150px;
  background-color: #55b8ff;
  color: rgb(255, 255, 255);
  font-size: 17px;
  border-radius: 10px;
  text-align-last: center;
  cursor: pointer;
  border: 0px;
  outline: 0px;
}

.evenement {
  width: 95%;
}

.entete {
  background-color: #55b8ff;
  width: 550px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: x-large;
  padding: 10px;
  border-radius: 10px;
}

.delete :hover {
  color: rgb(141, 18, 18)
}