/* * {
    background-image: url(../Background.png)!important;
    background-position: 'center';
    background-size: 'cover';
    background-repeat: 'no-repeat';
    background-attachment: fixed;
}  */

.homeMgTopTxt {
    margin-top: 25%;


}

body{
    background-image: url(../Background.png)!important;
    background-size: cover;
}
