.monJournal{
  background-color: #0090E8;
  height: 800px;
  width: 600px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
}

.monJournal> h2 {
  height: 80px;
  padding: 20px;
}

.journalItem {
  height: 800px;
}

.addItem {
  height: 100px;
  align-self: center;
  padding: 20px;
}

.jours{
  height: 50px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: rgb(120, 193, 253);
  border-radius: 10px;
  font-weight: bold;
  display: flex;
}

.index{
  width: 5%;
}

.date{
  width: 30%;
}

.evenement{
 width: 65%;
}

.entete{
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: x-large;
}