.img-stats {
    background-image: url('../../img/sport/icons8-bar-chart-96.png') !important;
    margin-bottom: 2% !important;
}

.img-activs {
    background-image: url('../../img/sport/man-with-open-arms-pngrepo-com.png') !important;
    margin-bottom: 10% !important;
}

.img-defis {
    background-image: url('../../img/sport/lightning-electric-energy.png') !important;
    margin-bottom: 13% !important;
}

.img-stats,
.img-activs,
.img-defis {
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    border: none;
}

.img-activs {
    height: 110px !important;
    width: 110px !important;
}

.img-defis {
    height: 99px !important;
    width: 99px !important;
}

.img-stats {
    height: 130px !important;
    width: 130px !important;
}



@media (max-width: 576px) {
    .sport-app {
        flex-direction: column !important;
    }
}

.sport-app {
    padding-top: 10% !important;
}

.sport-app-div {
    height: 300px !important;
    width: 390px !important;
    border: 7px outset #1C6EA4 !important;
    border-radius: 19px !important;
    background-color: #0749fd78 !important;
}




/* @media (max-width: 576px) {
    .sport-app {
        display: flex !important;
        padding-top: 40% !important;

    }

    .sport-app-div {
        height: 300px !important;
        width: 390px !important;
        border: 7px outset #1C6EA4 !important;
        border-radius: 19px !important;
        background-color: #0090E8 !important;
    }

    .img-stats,
    .img-activs,
    .img-defis {
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: contain;
        height: 96px !important;
        width: 96px !important;
        border: none;
        margin-bottom: 5% !important;
    }
} */
/* 
@media only screen and (min-width : 1224px) {
    .sport-app {
        padding-top: 10% !important;
    }

    .sport-app-div {
        height: 300px !important;
        width: 390px !important;
        border: 7px outset #1C6EA4 !important;
        border-radius: 19px !important;
        background-color: #0090E8 !important;
    }

    .img-stats,
    .img-activs,
    .img-defis {
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: contain;
        height: 96px !important;
        width: 96px !important;
        border: none;
        margin-bottom: 5% !important;
    }
} */

/* durée de l'animation en secondes*/
/* .img-stats, .img-activs, .img-defis{transition:0.5s;} */

/* Zoom de l'image. */
/* .img-stats:hover, .img-activs:hover, .img-defis:hover {transform : scale(1.3);}  */

.sport-app-div {
    transition: 0.5s;
}

.sport-app-div:hover {
    transform: scale(1.1);
    background-color: #09287c77 !important;
}

.text-sport{
    color: white
}

.text-sport:hover {
    color: black;
}