/*
Navigateur
 */
@media only screen and (min-width: 681px) {
    .todo-app {
        display: flex;
        flex-direction: column;
        /* justify-content: start; */
        width: 520px;
        min-height: 600px;
        background: #1e243f;
        text-align: center;
        margin: 128px auto;
        border-radius: 10px;
        padding-bottom: 32px;
    }

    .todolist-title {
        margin: 13%;
        color: #fff;
        font-size: 2.5em;
    }

    .todo-form {
        margin-bottom: 32px;
    }

    .todo-input {
        padding: 14px 32px 14px 16px;
        border-radius: 4px 0 0 4px;
        border: 2px solid #5d0cff;
        outline: none;
        width: 320px;
        background: transparent;
        color: #fff;
    }

    .todo-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 4px auto;
        color: #fff;
        padding: 16px;
        border-radius: 5px;
        width: 90%;    
    }
}