/*
Smartphone
 */
 @media only screen and (max-width: 680px) {
    .todo-app {
      display: flex;
      flex-direction: column;
      /* justify-content: start; */
      width: 70%;
      /* min-height: 50%;
      max-height: 90%; */
      background: #1e243f;
      text-align: center;
      margin: 12% auto;
      border-radius: 10px;
      padding-bottom: 9%;
    }
  
    .todolist-title {
      margin: 9%;
      color: #fff;
      font-size: 1.4em;
    }
  
    .todo-form {
      margin-bottom: 10%;
    }
  
    .todo-input {
      padding: 14px 32px 14px 16px;
      border-radius: 4px 0 0 4px;
      border: 2px solid #5d0cff;
      outline: none;
      width: 50%;
      background: transparent;
      color: #fff;
    }
  
    .todo-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 4px auto;
      color: #fff;
      padding: 16px;
      border-radius: 5px;
      width: 84%;
    }
  }