
.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-button-update {
  background-image: url('../../img/update.png');
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 25px !important;
  width: 30px !important;
  border: none;
}

.todo-button-add {
  background-image: url('../../img/plus.png');
  background-repeat: no-repeat;
  background-color: transparent;
  height: 40px !important;
  width: 35px !important;
  border: none;
}

.todo-button-remove {
  background-image: url('../../img/moins.png');
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 25px !important;
  width: 30px !important;
  border: none;
}

.todo-button-back {
  background-repeat: no-repeat;
  background-color: #0090E8;
  margin: 20px;
  border: 1;
  border: 5px solid #1C6EA4;
  border-radius: 12px;
}

.todo-app {
  background: #0090E8;
  text-align: center;
  margin: auto;
  padding: auto;
  display: flex !important;
  align-items: center !important;
  width: 44% !important;
  flex-direction: column;
  
}

.css-list-todo{
  background-color: #14A7FF;
  width: 100% !important;
  padding: 5px;
  margin: 5px;
  border-radius: 5%;
}

@media (max-width: 576px) {

  .todo-app {
    width: 80% !important;
  }
}