.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-button-update {
  background-image: url('../../img/modifier.png');
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 25px !important;
  width: 30px !important;
  border: none;
}

.todo-button-add {
  background-image: url('../../img/plus.png');
  background-repeat: no-repeat;
  background-color: transparent;
  height: 40px !important;
  width: 35px !important;
  border: none;
}

.todo-button-remove {
  background-image: url('../../img/supprimer.png');
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 25px !important;
  width: 30px !important;
  border: none;
}

.todo-button-back {
  background-repeat: no-repeat;
  background-color: #0090E8;
  margin: 20px;
  border: 1;
  border: 5px solid #1C6EA4;
  border-radius: 12px;
}

.css-list-todo {
  background-color: #14A7FF;
  width: 300% !important;
  padding: 5px;
  margin: 5px;
  border-radius: 5%;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  align-self: center !important;
}

.todo-app {
  background: #0090E8;
  text-align: center;
  margin: auto !important;
  padding: auto !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  align-self: center !important;
  width: 70% !important;
  flex-direction: column;
}

.aaa{
  width: 300% !important;
  /* display: flex !important;
  flex-direction: column; */
  margin: auto !important;
  padding: auto !important;
}

.test{
  display: flex !important;
  padding: auto !important;
}

@media (max-width: 576px) {
  
  .aaa{
    width: 100% !important;
   }

  .todo-app {
    width: 95% !important;
  }

  .css-list-todo {
    width: 150% !important;
    margin: auto !important;
    padding: auto !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    align-self: center !important;
  }
}