.form {
  width: 50%;
  min-width: 300px;
  max-width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px auto;
  background-color: #0090E8;
  padding: 30px;
}

h2{
  color: white;
  text-align: center;
}

.error {
  color: #bf1650;
}

::placeholder {
  color: rgba(255, 255, 255, 0.733);
}

.form-input {
  width: 100%;
  border: 0;
  font-size: 15px;
  border-bottom: 1px solid white;
  color: white;
  padding: 7px 0;
  background: transparent;
}

.btn-form {
  font-size: 25px; 
  font-weight: bold;
  width : auto;
  height: 70px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
  border-radius: 30px; 
  color: white; 
  background-color: #14A7FF;
  /* align-self: center; */
  border: none;
  padding: 20px;
  /* box-shadow: 0 0 3px #1670BE; */
}

.form-input:focus
{
  border: none;
  outline-offset: 0px;
  outline: none;
}

.btn-form:hover {
  background-color: #2fb3ff;
}

.section-champs{
  display: flex;
  justify-content: space-around;
}

.champs-1, .champs-2{
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.pwd-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}