/* .titre {
  font-size: 80px;
  font-weight: 1000;
  font-family: 'Text Me One';
  width: 900px;
  margin-top: 15%;
  margin-left: 5%;
  padding: 20px;
  display: flex;
  color: white;
  letter-spacing: 8px;
} */

@font-face {
  font-family: "gottam";
  src: url("../../assets/font/GothamNarrow-Book.otf");
}

/* @font-face {
  font-family: "gottamgras";
  src: url("../../assets/font/GothamNarrow-Medium.otf");
} */

.fonthome {
  font-family: gottam;
  float: left;
  text-align: left;
  font-size: 7vh;
}

@media (max-width: 576px) {

  .fonthome {
    margin-left: 20px;
  }
}