.titre {
  font-size: 80px;
  font-weight: 1000;
  font-family: 'Text Me One';
  width: 900px;
  margin-top: 15%;
  margin-left: 5%;
  padding: 20px;
  display: flex;
  color: white;
  letter-spacing: 8px;
}
